---
layout: base.template.njk
title: notfall.ms – Notfalldokumente
navigation: true
footer: true
menu:
  label: Start
  emoji: 🏠
  order: 10
---

<div class="pwa-logo logo--default">
    <img
    class="logo"
     width="240"
    src="/assets/LOGO.svg"
    alt="notfall.ms"
/>
</div>
<div class="pwa-logo logo--ok">

<img
    class="logo"
     width="240"
    src="/assets/LOGO_OK.svg"
    alt="notfall.ms"
/>
</div>
{% include "../components/pwa/install/install.njk" %}
{% include "../components/pager/pager.njk" %}
{% include "../components/pwa/documents/documents.njk" %}

{% include "../components/preparedness/checklist/checklist.njk" %}
{% include "../components/preparedness/location/location.njk" %}
{% include "../components/preparedness/tracking/tracking.njk" %}
{% include "../components/preparedness/reminders/reminders.njk" %}
