---
layout: base.template.njk
title: notfall.ms – Notfalldokumente
navigation: true
footer: true
menu:
  label: Start
  emoji: 🏠
  order: 10
---

<div class="pwa-logo">
    <img src="/assets/logo.svg" alt="notfall.ms" width="240">
</div>
{% include "../components/pwa/install/install.njk" %}
{% include "../components/pwa/documents/documents.njk" %}
